<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="pritka_helloworld" frontName="pbritka_helloworld">
            <module name="Pbritka_HelloWorld" />
        </route>
    </router>
</config>


<!--
the frontName attribute will define the instruction of the url as below:
pbritka_helloworld/page/index
-->
